---
title: I deployed to Netlify!
layout: layouts/base.njk
---


<p>
  Oh hi! Admiring this site that {% if details.name %}{{ details.name }}{% else %}I{% endif %} deployed? Well, you can get one too.
</p>

<p>
  <a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify/my-first-netlify-deploys">
    <img src="https://www.netlify.com/img/deploy/button.svg" alt="Deploy to Netlify">
  </a>
</p>
<h2>Deploy and then what?</h2>
<p>
  Try out a few more of the things that you can do with this once you've deployed to Netlify.
</p>

<ol>
  <li><a href="/next-steps/#add-your-name">Add your name</a></li>
  <li><a href="/next-steps/#deploy-preview">Create a deploy preview</a></li>
  <li><a href="/next-steps/#form">Add a form</a></li>
  <li><a href="/next-steps/#redirects">Define redirect rules</a></li>
  <li><a href="/next-steps/#functions">Deploy a serverless function</a></li>
</ol>

<h3>Test backend </h3>
<form name="contact" action="/thanks" netlify>
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

 <p><a href="/.netlify/functions/hello?name=You">Say hello!</a></p>
